*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.home{
    background-image: url("img/pg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.pg1{
    background-image: url("img/pinwheel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.pg2{
    background-image: url("img/pg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.font{
    font-family: 'Andika New Basic', sans-serif;
}
